<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826372612150-93o9ae9vmc0v0ttr7lvm2lcqh3bl8gh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826372612150-93o9ae9vmc0v0ttr7lvm2lcqh3bl8gh3</string>
	<key>API_KEY</key>
	<string>AIzaSyBC91XFzB0-taAjUs1NbBp0XYxJgBuT_Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>826372612150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthTest</string>
	<key>PROJECT_ID</key>
	<string>todoapp-ios-56202</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-ios-56202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826372612150:ios:729c12859567aee9bfb897</string>
</dict>
</plist>